@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
*{
    font-family: 'Fredoka', cursive;
}

body{
    padding: 0;
    margin: 0;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container h1{
    font-size: 6.5vw;
    color: #FAB201;
    -webkit-text-stroke: 7px white;
}

.game-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    width: fit-content;
    grid-gap: 10px;
}

.game-div{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 14px;
    box-shadow: inset -2px -2px 0 0 rgb(192, 192, 192);
    
}
.footer{
    color: white;
    margin-top: 10%;
    font-size: 2.1vw;
}
.main-container h2{
    font-weight: bold;
}